/*your custom CSS here*/

.heading {
  background-image: url(../img/wood-heading.jpg);
  background-repeat: no-repeat;
  height: 150px;
  width: 100%;
  background-position: center;
  margin-bottom: 20px;
  background-color: #5c423e;
}
.heading h1 {
  text-align: center;
  color: white; 
  font-size: 35px;
  width: 100%;
  padding-top: 60px;
}
body {
  background-color: #d9b18c;
}
img {
  width: 100%;
}
