/*your custom CSS here*/

.heading {
  background-image: url(../img/wood-heading.jpg);
  background-repeat: no-repeat;
  height: 150px;
  width: 100%;
  background-position: center;
  margin-bottom: 20px;
  background-color: #5c423e;
}
.heading h1 {
  text-align: center;
  color: white; 
  font-size: 35px;
  width: 100%;
  padding-top: 60px;
}
body {
  background-color: #a68e81;
}
img {
  width: 100%;
}
.box grid_4 a.read-more {
    display: block;
    margin-top: 5px;
    padding-top: 5px;
    border-top: 1px solid #ccc;
}
